.custom-tooltip .tooltip-inner {
  background-color: white;
}
.custom-tooltip .tooltip-arrow::before {
  border-top-color: white !important;
}
:where(.css-dev-only-do-not-override-zl9ks2).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item:hover {
  background: inherit;
}
